@page
@model AvinorStatusPanel.Pages.IndexModel
<html>
  <head>
    <title>Departures</title>
    <link rel="stylesheet" href="~/css/style.css">
  </head>
<body>
<a href="/Departures">Departures</a><br/>
<a href="/SkyView">SkyView</a><br/>
</body>
</html>
