@page
@model AvinorStatusPanel.Pages.SkyView
<html>
  <head>
    <title>Departures</title>
    <link rel="stylesheet" href="~/css/style.css">
    <script src="~/js/signalr/dist/browser/signalr.js"></script>
    <script src="~/js/flightListener.js"></script>
  </head>
  <body>
  <table class="departures">
    <thead>
    <tr>
      <th>Flight</th>
      <th>Time</th>
      <th>Origin</th>
      <th>Destination</th>
      <th style="width: 50%"><p class="time">@DateTime.Now.ToString("HH:mm")</p></th>
    </tr>
    </thead>
    <tbody id="flightsTable">
    </tbody>
  </table>
  </body>
</html>
